.skill-circle {
    position: absolute;
    width: 50px; /* Adjust the circle size as needed */
    height: 50px; /* Adjust the circle size as needed */
    border-radius: 50%; /* Makes the circle circular */
    display: flex;
    justify-content: center;
    align-items: center;
  }